@using THCM4.Models;
@model ThanhVien

@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}






<div class=" register">
    <h1 style="color:darkslategrey"> Đăng Ký</h1>
    @using (Html.BeginForm())
    {
        <div class="col-md-4 register-top-grid">

            <div>
                <span>Họ Và Tên</span>
                <input type="text" name="HoTen" value="" required="" />
                @*@Html.TextBox("HoTen")*@
            </div>
            <div>
                <span>Địa Chỉ</span>
                <input type="text" name="DiaChi" value="" required="" />
                @*@Html.TextBox("DiaChi")*@
            </div>
            <div>
                <span>Email </span>
                <input class="register-bottom-grid" type="text" name="Email" value="" required="" />
                @*@Html.TextBox("Email")*@
            </div>
            <div>
                <span>Số Điện Thoại </span>
                <input type="text" name="Sdt" value="" required="" />
                @*@Html.TextBox("Sdt")*@
            </div>
        </div>
        <div class="col-md-4 register-top-grid register-bottom-grid">
            <div>
                <span>Tài Khoản</span>
                <input type="text" name="TaiKhoan" value="" required="" />
                @*@Html.TextBox("TaiKhoan")*@
            </div>

            <div>
                <span>Mật Khẩu</span>
                <input type="password" name="MatKhau" value="" required="" id="PW" />
                @*@Html.Password("MatKhau")*@
            </div>
            <div>
                <span>Nhập Lại Mật Khẩu</span>
                <input type="password" name="NLMK" value="" required="" id="NLPW" />
                @*@Html.Password("NLMK")*@
            </div>
            <div>
                @Html.MathCaptcha();
            </div>
            <input type="submit" value="submit">
        </div>
    }
</div>
<script>
    var password = document.getElementById("PW")
        , confirm_password = document.getElementById("NLPW");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>



