@using THCM4.Models;
@model IEnumerable<LoaiTV>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h4 style="text-align:center;margin-bottom:20px;color:red">Danh Sách Phân Quyền</h4>
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHeader",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "girdAltRow",
    columns: grid.Columns(
        grid.Column("MaLoaiTV", "Mã Loại Thành Viên"),
        grid.Column("TenLoai", "Tên Loại"),
        grid.Column(format: p => @Html.ActionLink("Sửa", "PhanQuyen", new { id = p.MaLoaiTV },new { @class ="btn btn-success" }))
        ))
<style>
    .gridTable {
        border-collapse: collapse;
           border-top:1px solid #00ff21;
           
        width: 100%;
        padding: 15px;
        height: 100px;
    }
    .gridRow{
         border-top:1px solid #00ff21;
         border-bottom:1px solid #00ff21;
         margin:10px;
         padding:10px 0px 10px 0px;
         
             
    cursor:pointer;
    }
    .gridHeader{
         text-align:center;
    cursor:pointer;
    }
    .girdAltRow{
        border-bottom:1px solid #00ff21;
    }
   
</style>


